@mixin main {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $font-family;
    }
}

@mixin flex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: wrap;
}

@mixin background-propreties {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin span-style {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $orange-color;
    font-family: "Satisfy", cursive;
}

@mixin headline {
    color: #1c1930;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
