$font-family: "Roboto",
sans-serif;
$font-family-span: "Satisfy",
cursive;
$primary-color: #fff;
$orange-color: #ff3d1c;
$paragraph-color: #57667e;
$grey-color: #777;
$span-green: #31ff7a;
$icon-color: #dc3545;
$mobile: 700px;
$tablet: 850px;
$desktop: 1024px;