@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@import "variables";
@import "mixins";

@include main();

.container {
    @include background-propreties();
    background-image: linear-gradient(to bottom, rgba(0, 1, 2, 0.5), rgba(0, 1, 2, 0.5)),
        url("../assets/images/houses.jpg");
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
    .container-wrap {
        @include flex(space-between, center);
        width: 90%;
        margin: 0 auto;
        padding-top: 2rem;
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 400;
        color: $primary-color;
        .logo span {
            color: $orange-color;
            font-family: "Satisfy", cursive;
        }
        nav {
            width: 65%;
            ul {
                @include flex(space-between, center);
                list-style: none;
                li a {
                    text-decoration: none;
                    padding-left: 0.3rem;
                    color: $primary-color;

                    &:hover {
                        color: $orange-color;
                    }
                }
            }
        }
    }

    .headline {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        span {
            color: $span-green;
            font-size: 2.5rem;
            line-height: 1.2;
            font-weight: 400;
            font-family: "Satisfy", cursive;
        }
        h1 {
            font-size: 3.5rem;
            font-weight: 500;
            margin-top: 1rem;
            margin-bottom: 2rem;
            color: $primary-color;
            line-height: 1.3;
        }
        form {
            width: 100%;
            input[type="text"] {
                padding: 15px;
                font-size: 17px;
                border: none;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                float: left;
                width: 80%;
                font-weight: 400;
                background: #f1f1f1;
            }
            .btn {
                float: left;
                width: 20%;
                padding: 15px;
                background: $orange-color;
                color: $primary-color;
                font-size: 17px;
                border: none;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                cursor: pointer;
            }
        }
    }
}

main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 3.5rem;
    span {
        @include span-style();
    }
    h2 {
        @include headline();
    }
    .cards {
        @include flex(space-between, center);
        width: 100%;
        height: 100%;
        .card {
            height: 300px;
            width: 320px;
            position: relative;
            img {
                height: auto;
                width: 320px;
                border-radius: 10px;
                filter: brightness(70%);
            }
            h4 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $primary-color;
                font-size: 1.2rem;
                letter-spacing: 3px;
                font-weight: bold;
                text-shadow: 1px 2px #000;
            }
        }
    }
}

.promo {
    @include background-propreties();
    background-image: linear-gradient(to bottom, rgba(75, 0, 130, 0.7), rgba(0, 1, 2, 0.7)),
        url("../assets//images/people-walking-on-street-near-buildings-2339009.jpg");
    width: 100%;
    height: 100vh;
    @include flex(center, center);
    .promo-wrap {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        span {
            color: $span-green;
            font-family: "Satisfy", cursive;
            font-weight: 500;
            font-size: 2rem;
        }
        h2 {
            @include headline();
            color: $primary-color;
        }
        .promo-icons {
            @include flex(space-around, center);
            margin-top: 3rem;
            .icon {
                @include flex(center, center);
                flex-direction: column;
                color: $primary-color;
                h3 {
                    margin-top: 2rem;
                    font-weight: 400;
                }
            }
            .border-wrap {
                @include flex(center, center);
                width: 130px;
                height: 130px;
                border-radius: 50%;
                animation: 1s animateBorder infinite;
            }
            .icon-wrap {
                @include flex(center, center);
                background-color: $primary-color;
                width: 80px;
                height: 80px;
                border-radius: 50px;
                .fa {
                    color: $icon-color;
                }
            }
        }
    }
}

.offers {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 3rem;
    span {
        @include span-style();
    }
    h2 {
        @include headline();
    }
    .offer-container {
        @include flex(space-around, center);
        margin-top: 6rem;
        max-width: 1200px;
        .offer {
            margin-left: 1rem;
            width: 220px;
            height: 425px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 3rem 0;
            border: 1px solid #e1ebf7;
            padding: 5rem 2rem;
            border-radius: 6px;
            position: relative;
            cursor: pointer;
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 0;
                background: #ff3d1c;
                transition: 0.6s;
                bottom: 0;
                left: 0;
                z-index: -1;
                border-radius: 6px;
            }
            &:hover::before {
                height: 100%;
            }

            &:hover small {
                color: $primary-color;
                font-weight: 400;
            }
            &:hover .fa {
                color: $primary-color;
            }

            &:hover p {
                color: $primary-color;
            }
            &:hover h4 {
                color: $primary-color;
                font-weight: 400;
            }

            .fa {
                color: $icon-color;
                margin-bottom: 2rem;
            }

            h4 {
                font-size: 1.2rem;
                font-weight: 700;
                margin-bottom: 1.5rem;
                color: black;
            }
            p {
                margin-bottom: 1.3rem;
                color: #57667e;
                line-height: 30px;
                font-weight: 400;
            }
            small {
                color: #1c165c;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

.clients {
    @include flex(center, center);
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    span {
        @include span-style();
    }
    h2 {
        @include headline();
    }
    p {
        margin-bottom: 1.3rem;
        color: #57667e;
        line-height: 30px;
        font-weight: 400;
    }
    .profile-img {
        @include flex(center, center);
        width: 90px;
        margin-bottom: 2rem;
        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
        p {
            color: #eb566c;
            font-size: 1rem;
            font-weight: 600;
            margin-top: 1.2rem;
        }
    }
}

.blog {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    span {
        @include span-style();
    }
    h2 {
        color: #1c1930;
        font-weight: 600;
        font-size: 2rem;
        margin-top: 2rem;
    }
    .blog-posts {
        @include flex(space-around, center);
        max-width: 1200px;
        .blog {
            width: 370px;
            height: 400px;
            display: flex;
            flex-wrap: wrap;
            margin: 3rem 0;
            img {
                width: 100%;
                height: 380px;
                object-fit: cover;
                object-position: center center;
                border-radius: 15px;
            }
            .blog-headline {
                margin: 1rem auto;
                small {
                    color: $orange-color;
                }
                h5 {
                    margin-top: 1rem;
                }
            }
        }
    }
}

@keyframes animateBorder {
    to {
        box-shadow: 0 0 0 2px $span-green;
    }
}
